@using ECommerce.Application.Features.Products.Queries.GetProductById
@model GetProductByIdQueryResponse
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    @await Component.InvokeAsync("HomeCategories")

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href=""> <span class="pull-right">(50)</span>Acne</a></li>
                                <li><a href=""> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                                <li><a href=""> <span class="pull-right">(27)</span>Albiro</a></li>
                                <li><a href=""> <span class="pull-right">(32)</span>Ronhill</a></li>
                                <li><a href=""> <span class="pull-right">(5)</span>Oddmolly</a></li>
                                <li><a href=""> <span class="pull-right">(9)</span>Boudestijn</a></li>
                                <li><a href=""> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                            </ul>
                        </div>
                    </div><!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <div class="slider slider-horizontal" style="width: 182px;"><div class="slider-track"><div class="slider-selection" style="left: 41.6667%; width: 33.3333%;"></div><div class="slider-handle round left-round" style="left: 41.6667%;"></div><div class="slider-handle round" style="left: 75%;"></div></div><div class="tooltip top" style="top: -30px; left: 73.1667px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">250 : 450</div></div><input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" style=""></div><br>
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Eshopper/images/home/shipping.jpg" alt="">
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/Eshopper/images/product-details/1.jpg" alt="">
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item">
                                    <a href=""><img src="~/Eshopper/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item active left">
                                    <a href=""><img src="~/Eshopper/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item next left">
                                    <a href=""><img src="~/Eshopper/images/product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/Eshopper/images/product-details/similar3.jpg" alt=""></a>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/Eshopper/images/product-details/new.jpg" class="newarrival" alt="">
                            <h2>@Model.Name</h2>
                            <p>Web ID: 1089772</p>
                            <img src="~/Eshopper/images/product-details/rating.png" alt="">
                            <span>
                                <span>@Model.Price</span>
                                <label>Quantity:</label>
                                <input type="text" value="3">
                                <a asp-controller="Home" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </a>
                            </span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> @Model.Brand.Name</p>
                            <a href=""><img src="~/Eshopper/images/product-details/share.png" class="share img-responsive" alt=""></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Ürün Açıklaması</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">Değerlendirmeler</a></li>
                            <li><a href="#reviews" data-toggle="tab">Soru & Cevap</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="details">

                            <div class="col-md-12">
                                <h3>Ürün Açıklaması</h3>

                                <p>@Model.Description</p>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Ürün özellikleri</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var attributes in Model.AttributeValues)
                                    {
                                        <tr>
                                            <th scope="row">@attributes.Attribute.Name</th>
                                            <td>@attributes.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade p-lg-3" id="companyprofile">
                            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                            <section class="content-item" id="comments">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <form asp-controller="Home" asp-action="AddRating" method="post">
                                                <h3 class="pull-left">Yorum yap</h3>
                                                <button type="submit" class="btn btn-normal pull-right">Gönder</button>
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-sm-3 col-lg-2 hidden-xs">
                                                            <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                                        </div>
                                                        <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                                            <textarea class="form-control" asp-for="RatingAddDto.Comment" id="message" placeholder="Mesajınızı iletin." required=""></textarea>
                                                        </div>

                                                    </div>
                                                    <div class="rating pull-left">
                                                        <input type="radio" asp-for="RatingAddDto.Rate" value="5" id="5"><label for="5">☆</label>
                                                        <input type="radio" asp-for="RatingAddDto.Rate" value="4" id="4"><label for="4">☆</label>
                                                        <input type="radio" asp-for="RatingAddDto.Rate" value="3" id="3"><label for="3">☆</label>
                                                        <input type="radio" asp-for="RatingAddDto.Rate" value="2" id="2"><label for="2">☆</label>
                                                        <input type="radio" asp-for="RatingAddDto.Rate" value="1" checked id="1"><label for="1">☆</label>
                                                    </div>
                                                </fieldset>

                                            </form>

                                            <h3>@Model.Ratings.Count Yorum</h3>

                                            @foreach (var rating in Model.Ratings)
                                            {
                                                <div class="media">
                                                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">@rating.User.FirstName @rating.User.LastName</h4>
                                                        <p>@rating.Comment</p>
                                                        <div class="col-md-12">
                                                            <i class="fa fa-calendar" style="margin-right:10px"></i>@rating.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                                                            <a href="#"> <i style="margin: 0 5px 0 5px; color: green;" class="fa fa-thumbs-up"></i>@rating.LikeCount </a>
                                                            <a href="#"> <i style="margin: 0 5px 0 5px; color:red;" class="fa fa-thumbs-down"></i>@rating.DislikeCount </a>
                                                            <div class="rating pull-right">
                                                                @for (int i = 0; i < rating.Rate; i++)
                                                                {
                                                                    <input type="radio" checked>
                                                                    <label>☆</label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            
                                        </div>
                                    </div>
                            </section>

                        </div>

                        <div class="tab-pane fade" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p><b>Write Your Review</b></p>

                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Your Name">
                                        <input type="email" placeholder="Email Address">
                                    </span>
                                    <textarea name=""></textarea>
                                    <b>Rating: </b> <img src="~/Eshopper/images/product-details/rating.png" alt="">
                                    <button type="button" class="btn btn-default pull-right">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->
                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend1.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend2.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend3.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend1.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend2.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="~/Eshopper/images/home/recommend3.jpg" alt="">
                                                <h2>$56</h2>
                                                <p>Easy Polo Black Edition</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>